.stock-list::-webkit-scrollbar {
  width: 0.5em;
}
.stock-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.stock-list::-webkit-scrollbar-thumb {
  background-color: #f1c40f;
  outline: 1px solid slategrey;
}

.stock-list {
  max-height: 400px;
  margin-bottom: 10px;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  border: 1px solid;
  border-color: #f1c40f
}

.nav-bar-brend {
  color: #f1c40f !important;
}

.nav-link:hover {
  color: #f1c40f !important;
}

.welcoming {
  color: #f1c40f;
}

.stock-container {
  border: 5px solid;
  border-color: #f1c40f;
}

.spinner {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}


.remove-btn {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

#h-img1 {
  margin: 0.2rem;
}
#h-img2 {
  margin: 0.2rem;
}

#h-img3 {
  margin: 0.2rem;
}

#btn-pause {
  color: #d75a4a;
  border: 2px solid #d75a4a;
  background-color: #d75a4a;
  border-radius: 200px;
  border-width: 5px;
  margin-bottom: 5%;
}
#seconds {
  color: #d75a4a;
}

.bottom-marks {
  margin-bottom: 10%;
}
.container {
  color: #fff;
}
.stock-list {
  margin-top: 5%;
}
